.table {
  margin-top: 100px;
}

h2 {
  color: #f6f1ee;
  letter-spacing: 4px;
  font-size: xx-large;
  font-variant-caps: small-caps;
}

.myGrid {
  margin-top: 10px;
  width: 1500px;
  height: max-content;
  color: black;
  background-color: #f6f1ee;
  padding: 20px;
  border-radius: 10px;
}
.header-filtered {
  color: #ed7d31;
}

@media screen and (max-width: 768px) {
  .myGrid {
    padding: 10px; /* Adjust padding for smaller screens */
    font-size: small; /* Decrease font size for better readability */
    border-radius: 0; /* Remove border-radius for a simpler look */
    width: 300px;
    font-size: 0.7rem;
  }
}
